body{
	background:url(../imagenes/fondo1.png);

}
.cuento{
  width: 150px;
}

.logo{
	border-radius: 50%;
	margin: 0px 0px 7px 0px;

}

header, .main, .footer{
	width: 90%;
	max-width: 1000px;
	margin:20px auto;

}

header nav{
	background:url(../imagenes/fondomenu.png);
	overflow: hidden;

}

header nav ul {
	list-style: none;
	margin: 0;
	padding:0;

}

header nav ul li{
	float: left;
	margin: 0;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

a:hover{
	background:white;
	color: black;

}

.main .articles{
	width:100%;
	float: left;

}

.main .articles article{
	background: url(../imagenes/fondo.jpg);
	padding:10px;
	margin-bottom: 20px;

}
p{
	text-align: justify;
}
